@import "variables";
.table {
  font-size: 14px;
}
.table > thead > tr > th {
  // border: 1px solid !important;
  background: $nge-color-primary;
  color: white;
  padding-left: 1rem;
}
.table > tbody > tr > td {
  padding-left: 1rem;
}
